<!--home.ejs-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/estate/search">Search</a>
            <a class="nav-item nav-link" href="/estate/create">Create</a>
            <a class="nav-item nav-link" href="/estate/admin">Admin</a>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Real Estate Rental System</h1>
        <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
            finding roommates.
        </p>
    </div>
</div>

<div class="row">
    <% estate.forEach( function(model) { %>
    <div class="card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card-body">
            <h2 class="card-title"><%= model.title %></h2>

            <div class="row">
                <div class="col-8 col-sm-7 col-md-7 col-lg-5 col-xl-5">
                    <img src=" <%= model.url %>" class="card-img">
                </div>
                <div class="col-md-7">
                    <p class="card-text"><%= model.estate%></p>
                    <p class="card-text"><%= model.area%></p>
                    <p class="card-text"><%= model.rent%></p>
                </div>

            </div>
        </div>
    </div>
    <% }); %>
</div>


<table class="table">
    <% estate.forEach( function(model) { %>
    <tr>
        <td><%= model.title %></td>
        <td><%= model.estate %></td>
        <td><%= model.area %></td>
        <td><%= model.rent %></td>
        <td><%= model.url %></td>
        <td><%= model.bedroom %></td>
        <td><%= model.tenant %></td>
    </tr>
    <% }); %>
</table>